map-page {
 
  .fixed-content {
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .map-info-window-header {
    padding: 1em;
    font-weight: bold;
    font-size: 18px;
  }

  .map-info-window-content > p > span:nth-child(odd) {
    font-weight: bold;
    font-size: 16px;
  }

  ion-range {
    width: auto;
  }
}